/* Sergio Buenaga Gutierrez - UO271572 - 2025-2026 - Uniovi - SEW */
/*Estilos CSS para la aplicación de escritorio MotoGP*/

/*
* Especificidad: 001
*/
body {
    font-family: "Palatino", Arial, sans-serif;
    color:#000000;
    background-color:#C6D8D5 /*#FEEDCF*/;
}

/*
* Especificidad: 001
* 
*/
header{
    background-color: #FEEDCF;/*Hereda color de body*/
}

/*
* Especificidad: 001
* 
*/
h1, nav{
    color:#262626;/*Hereda background-color de header*/
}

/*
* Especificidad:  010 
*/
.active {
    font-weight: bold;
}

header + p {
    font-size: 0.8em;
}